.tag {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 20px;
}
.tag:last-child {
  margin-right: 0;
}

.s {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
}

.m {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
}

.primary {
  color: var(--primary);
  border: 1px solid var(--primary);
}

.green {
  color: var(--green);
  background: var(--green-light);
  font-weight: 700;
}

.red {
  color: var(--white);
  background: #de0000;
}

.gray {
  color: var(--white);
  background: #b3c0d9;
}

.ghost {
  border: 1px solid var(--gray-light);
  color: var(--black);
}
